.help {
  position: fixed;
  bottom: 10%;
  z-index: 2;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  left: 0.5%;
  z-index: 10000;
}

* {
  font-size: 12px;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

#region-main,
.listitem.listitem-course.list-group-item.list-group-item-action.yui3-dd-drop.yui3-dd-draggable {
  background: #fff7eb;
}
